.above-500-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 75px 0;
}

.above-fillers {
  max-width: 45%;
}

.above-section2 {
  max-width: 45%;
  margin-top: 80px;
}

.abstract-sunday {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.abstract-page {
  background-color: black;
  padding: 0 20%;
}

.abstract-page > h1 {
  font-size: 500%;
  max-width: 50px;
}

.abstract-purchase-container {
  display: flex;
  justify-content: start;
  margin-left: -100px;
}

.abstract-purchase-container > * {
  flex: 1 0 40%;
}

.abstract-purchase-container > img {
  margin-left: 100px;
  transform: scale(0.85);
  width: 60%;
}

.first-grid {
  transform: scale(0.7);
}

.first-section-wording > h1 {
  font-size: 500%;
}

.first-section-wording {
  flex-wrap: wrap;
  margin-top: 50px;
}

.gallery {
  margin: 100px 0 150px;
}

.gallery > h1 {
  margin-bottom: 100px;
}
.italic-notes {
  font-weight: 300;
}

.lizard-poster {
  margin-right: -100px;
}

.purchase-btn {
  background: white;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 30px;
  padding: 12px;
  transition: all 0.23s ease-in-out;
  width: 200px;
}

.purchase-btn:hover {
  background-color: #fa000e;
  color: white;
}

.sunday-words-container {
  margin: 250px 50px;
}

.the-beginning-container {
  display: flex;
}

.the-beginning-container > * {
  flex: 1 0 50%;
}
