.landing-page {
  padding: 0 24%;
}

.welcome-img {
  width: 100%;
}

.welcome-btn {
  background-color: white;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 700;
  height: 42px;
  text-align: center;
  transition: all 0.23s ease-in-out;
  width: 276px;
}

.welcome-btn:hover {
  background-color: #fa000e;
  color: white;
}

.welcome-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: auto;
}

.welcome-inner-container {
  background-color: rgba(15, 15, 15, 0.98);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 313px;
  padding: 11px 16px;
}

.welcome-inner-container > h1 {
  margin: 0;
  padding-bottom: 15px;
}

.secondary-img {
  display: flex;
  max-width: 600px;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 200px 0;
}

.info-text {
  display: flex;
  font-size: 20px;
  text-align: left;
  width: 500px;
  margin-top: 50px;
}

.info-text > p {
  justify-content: left;
}
