.herb-container {
  background-color: black;
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
}

.img-container-1 {
  margin-top: -100px;
}

.img-container-2 {
  margin-top: -100px;
}
