.herb-container {
  background-color: black;
  padding: 0 20%;
  display: flex;
  justify-content: center;
}

.og-king-btn {
  margin-right: 2px;
  max-height: 600px;
}

.devil-king-btn {
  margin-bottom: 100px;
}
