.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 130px;
  justify-content: space-between;
  position: fixed;
  padding: 0 150px;
  width: 100%;
  z-index: 999999;
}

.header-links-container {
  align-items: center;
  display: flex;
  width: 480px;
  justify-content: space-between;
}

.header-links-container > nav {
  display: flex;
  justify-content: space-between;
  width: 337px;
}

.header-links-container > nav > * {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}

.opensea-btn {
  width: 21px;
}

.opensea-btn > img {
  width: 100%;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
