hr {
  background-color: #55b578;
  border-width: 0px;
  height: 1px;
  width: 125%;
  margin-left: -130px;
  z-index: 999;
}

.project-herbcosmos {
  padding-right: 50px;
}

.project-herbcosmos > p {
  font-size: 18px;
}

.project-herbcosmos-container {
  align-items: end;
  display: flex;
  margin: 100px 0;
}

.project-herbcosmos-container > * {
  flex: 1 0 50%;
}

.project-herbfam {
  margin: 100px 0;
  width: 50%;
}

.project-herbfam > p {
  font-size: 18px;
}

.project-page {
  background-color: black;
  padding: 0 20%;
}

.project-roadmap {
  margin: 100px 0;
  width: 100%;
}

.project-roadmap > p {
  justify-content: center;
  width: 50%;
  margin-bottom: 100px;
  font-size: 18px;
}

.project-roadmap > img {
  width: 100%;
}

.project-welcome-header {
  font-size: 35px;
  margin-top: 60px;
}

.project-welcome-container {
  padding-bottom: 100px;
}

.project-welcome-img-container > img {
  width: 100%;
}

.project-welcome-img-container {
  max-height: 800px;
  overflow: hidden;
}
