html,
body {
  background-color: black;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
}
