hr {
  background-color: #55b578;
  border-width: 0px;
  height: 1px;
  width: 125%;
  margin-left: -130px;
  z-index: 999;
}

.artist-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
.words {
  font-size: x-large;
  margin-top: 450px;
  margin-bottom: 10px;
}

.words > p {
  font-size: larger;
}

.artist-img-container > img {
  transform: scale(0.85);
  min-width: 90%;
  flex-wrap: wrap;
}

.artist-page {
  background-color: black;
  padding: 0 20%;
}

.btm-container {
  display: flex;
  gap: 30%;
  margin-top: 100px;
  font-size: 18px;
}

.btm-container > p {
  flex: 1 0 40%;
  font-size: x-large;
  margin-top: 30px;
}

.btm-txt-logo {
  display: flex;
  justify-content: center;
  margin: 150px 0;
  transform: scale(1.5);
}
