hr {
  background-color: #55b578;
  border-width: 0px;
  height: 1px;
  width: 125%;
  margin-left: -130px;
  z-index: 999;
}

.artist-img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.words {
  margin-top: 320px;
}

.artist-img-container > img {
  transform: scale(0.98);
  width: 70%;
}

.artist-page {
  background-color: black;
  padding: 0 20%;
}

.btm-container {
  display: flex;
  gap: 30%;
  margin-top: 100px;
  font-size: 18px;
}

.btm-container > p {
  flex: 1 0 40%;
}

.btm-txt-logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
